@model IEnumerable<Universal.Models.CTHD>

@foreach (var i in Model)
{
    <tbody>
        <tr>
            <td><img src="" alt="@i.MaSP" class="img-fluid"></td>
            <td>@i.MaSP</td>
            <td>@i.MaSP</td>
            <td>@i.MaSP</td>
            <td>@i.MaSP</td>
            <td>@i.MaSP</td>
        </tr>
    </tbody>
}
